{% extends "base.html" %}

{% block content %}
        <form action="{% url 'create_todo' todo_id=todo.id %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.label }}">{{ field.label }}</label>
            <input name="{{field.name}}" class="form-control" id="{{ field.label }}" value="{{ field.value }}">
            {% if field.errors %}
                <div class="alert alert-danger" role="alert">{{ field.errors }}</div>
            {% endif %}
        </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Create todo">
    </form>
    </form>
{% endblock %}